body {
	padding-top: 0;
}

#headerWrapper {
	position: relative;
	padding:  0;
	margin: 0;
	overflow: hidden;
	height: 800px;
	background-image: url('../images/headerlogo/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
}

#logotext {
	position: absolute;
	width: 100%;
	height: 180px;
	background-image: url('../images/headerlogo/text.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70% 180px;
	top: 50%;
	margin-top: -90px;
}

.img-thumb {
	width: auto;
	height: 200px;

}

#footer {
	margin-top: 50px;
}

img.details {
	width: 70%;
	margin: 15px auto; 
}

table.table-auto {width: auto; margin: 0 auto;}