@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');


body {
	padding-top: 50px;
	font-family: 'Montserrat',Sans-serif;
}

#headerWrapper{
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;
	height: 600px;
	background-image: url(../images/headerlogo/background.jpg);
	background-repeat: no-repeat;
	background-size: 100% 700px;
	background-position: center;
	background-attachment: fixed;
	z-index: -1;
}

#logotext{
	position: absolute;
	width: 100%;
	height: 180px;
	background-image: url(../images/headerlogo/text.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70% 180px;
	top: 50%;
	margin-top: -90px;
}

#fore-flower{
	position: absolute;
	width: 100%;
	height: 400px;
	background-image: url(../images/headerlogo/flower.png);
	background-size: auto 400px;
	background-repeat: no-repeat;
	background-position: right bottom;
	top: 525px;
	right: -50px;
}

#back-flower{
	position: absolute;
	width: 100%;
	height: 350px;
	background-image: url(../images/headerlogo/flower2.png);
	background-size: auto 350px;
	background-repeat: no-repeat;
	background-position: left bottom;
	top: 400px;
	right: -25px;
}

/*partial */
#partial-fore-flower{
	position: absolute;
	width: 100%;
	height: 400px;
	background-image: url('../images/headerlogo/flower.png');
	background-size: auto 400px;
	background-repeat: no-repeat;
	background-position: right bottom;
	top: 70px;
	right: -60px;
}

#partial-back-flower{
	position: absolute;
	width: 100%;
	height: 350px;
	background-image: url('../images/headerlogo/flower2.png');
	background-size: auto 350px;
	background-repeat: no-repeat;
	background-position: left bottom;
	top: 150px;
	right: -25px;
}

#partial-headerWrapper {
	position: relative;
	padding:  0;
	margin: 0;
	overflow: hidden;
	height: 210px;
	background-image: url('../images/headerlogo/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
}

#partial-logotext {
	position: absolute;
	width: 100%;
	height: 180px;
	background-image: url('../images/headerlogo/text.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70% 180px;
	top: 50%;
	margin-top: -90px;
}

.img-thumb{
	width: auto;
	height: 200px;
}

#footer {
	margin-top: 50px;
}

img.details{
	width: 90%;
	margin: 15px auto;
}

.quantity {
	padding: 0;
}

table.table-auto {
	width: auto;
	margin: 0 auto;
}

#add-product-btn{
	margin-top: -35px;
}

#login-form{
	width: 50%;
	height: 60%;
	border: 2px solid #000;
	border-radius: 15px;
	box-shadow: 7px 7px 15px rgba(0,0,0,0.6);
	margin: 4% auto;
	padding: 15px;
	background-color: white;
}

#add-users-btn {
	margin-top: 25px;
}

.total-table-header th{
	text-align: center;
}
#step1{
	display: block;
}
#step2 {
	display: none;
}

#checkout_button{
	display: none;
}

#back_button{
	display: none;
}

th {
 background-color: #1CB5E0;
 color: #fafafa;
 font-family: 'Open Sans',Sans-serif;
 font-weight: 200;
 text-transform: uppercase;
 padding: 7px 14px;
 text-align: center;
}

tr {
 background-color: #fafafa;
 font-family: 'Montserrat', sans-serif;
}

tr:nth-child(even) {
 background-color: #b7e4f7;
}

#parent_category {
	background-color: blue;
}